# ----------------------
# Environment variables
# ----------------------
.env
/ISABEL/.env

# ----------------------
# Python cache / bytecode
# ----------------------
__pycache__/
*.pyc
/ISABEL/__pycache__/

# ----------------------
# IDE / editor files
# ----------------------
/.idea/
/workspace.xml
/shelf/
/ISABEL/.idea

# ----------------------
# Loose Assets
# ----------------------
anime-fox-girl-cherry-blossoms.jpg
